* {
    margin: 0;
    padding: 0;
}

#table {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 30px 30px;
}

canvas {
    border: 1px solid black;
}

button {
    margin-top: 10px;
}