* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --lightblue: #abece4;
    --lightgreen: #c4d004;
    --orange: #ff9f15;
    --salmon: #fb7991;
    --dirt: #926d40;
}

#table {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
}

canvas:nth-child(2), canvas:nth-child(8) {
    border-left: 3px solid #888888;
    border-right: 3px solid #888888;
}

canvas:nth-child(4), canvas:nth-child(6) {
    border-top: 3px solid #888888;
    border-bottom: 3px solid #888888;
}

canvas:nth-child(5) {
    border: 3px solid #888888;
}

body, #wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: var(--lightblue);
}

#wrapper {
    width: 50vw;
    height: 100vh;
    background-color: white;
    justify-content: flex-start;
}

h1 {
    color: var(--orange);
    font-size: 14vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

p {
    font-size: 3vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: space-between;
}

#table {
    margin-top: 10vh;
}

.button {
    background-color: var(--orange);
    border-radius: 1.2vh;
    border: 2px solid var(--orange);
    color: white;
    font-size: 3.5vh;
    text-align: center;
    padding: 1vh 2vw;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #d48412;
    background-color: #d48412;
}

.player {
    height: 4vh;
    border: 1px solid var(--lightgreen);
    border-radius: 0.8vh;
    padding-left: 0.5vw;
}

#navigation {
    margin-top: 7vh;
}

#info {
    margin-top: 7vh;
}

#score {
    margin-top: 3vh;
}